@import url('https://fonts.googleapis.com/css?family=Roboto:900');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}
body
{
    overflow-x: hidden;
}
p
{
    line-height: 25px;
    overflow-Y: hidden;
}
header
{
    height: 150px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    background-color: #5457A6;
}

nav
{
    position: relative;
    z-index: 100;
}

nav ul
{
    font-size: 25px;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
    height: fit-content;
    color: #EEBB55;
    font-size: 30px;
    margin-left: 17%;
}
nav ul li{
    display:inline;
    margin: 0 40px;
}
nav ul a{
    color: #EEBB55;
    text-decoration: none;
    padding: 55px 0px;
    display: table-cell
}
.hamburger
{
    height: 60px;
    position: absolute;
    right: 10px;
    top: 30%;
    display: none;
    color: white;
}
.logo
{
    position: absolute;
    height: 66%;
        top: 18%;
}
.container
{
    padding: 0 50px;
}
.donateButton
{
    background-color: #EEBB55;
    padding: 13px 44px;
    font-weight: 900;
    border-radius: 23px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.donateButton:hover
{
    color: #fff;
}
main{
    width: 100%;
    height: fit-content;
}

.banner
{
    position: relative;
    text-align: center;
    top: 150px;
}

.banner img
{
    width: 100%;
}

.banner #linkOverImage
{
    position: absolute;
    left: 8.5%;
    bottom: 27.5%;
    font-size: 22px;
}

.banner a
{
    color: #5457a6;
    text-decoration: none;
}

.banner a:hover
{
    color: #fff;
}

.over
{
    background-color: #eee;
    margin-top: 150px;
    padding: 50px 12.5%;
    font-size: 22px;
}
.over h2
{
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

.dieren
{
    background-color: #eee;
}
.dieren h1
{
    font-size: 45px;
    text-align: center;
    margin: 50px 0 30px 0;
}
.dieren .row
{
    text-align: center;
}
.dieren .item
{
    height: 310px;
    width: 282px;
    margin: 47px;
    display: inline-block;
    text-align: left;
    border-radius: 5%;
    border: 2px solid rgba(200, 200, 200, 0.7);
    background-color: #f9fafc;
}
.dieren .petImg
{
    height: 212px;
}
.dieren h3
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.dieren h3, .dieren p
{
    margin-left: 10px;
}
.nieuws
{
    background-color: #eee;
    overflow-x: hidden;

}
.nieuws .row
{
    text-align: center;
    height: 1030px;
}

.nieuws h1
{
    text-align: center;
    padding-top: 175px;
}
.nieuws h3
{
    font-size: 35px;
    width: 100%;
}
.nieuws .date
{
    font-size: 15px;
}

.nieuws .textOverImage
{
    width: 100%;
    text-align: left;
    position: absolute;
    margin-left: 10%;
}

.nieuws .newsText
{
    font-size: 15px;
    margin-top: 140px;
    width: 85%;
}
#newsTextFirst
{
    margin: 93px 0px 0 9%;
}
#newsTextSecond
{
    margin-top: 20px;
    margin-left: 9%;
}
.nieuws .fas
{
    cursor: pointer;
}

.box {
    display: block;
    position: absolute;
    background-color: #f9fafc;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    top: 230px;
    width: 60%;
    left: calc(50% - 30%);
    border-radius: 15px;
    border: 2px solid rgba(200, 200, 200, 0.7);
    height: fit-content;
}
#box2 {
    left: 150%;
}
#box3{
    left: 300%;
}
.stockImage img
{
    max-height: 300px;
    width: 100%;
}
.prv
{
    position: absolute;
    top: 25%;
    left: -7%;
}
.nxt
{
    position: absolute;
    top: 25%;
    right: 12%;
}
.newsImg
{
    border-bottom: 1px solid #EEBB55;
}
footer
{
    overflow: hidden;

    position: relative;
    bottom: 0;
    max-width: 100%;
    min-width: 46%;
    background-color: #313131;
    color: #ffffff;
    padding: 50px 0px 50px 100px;
}

footer ul
{
    list-style-type: none;
}
footer li
{
    margin: 15px 0;
}
footer li a
{
    color: #ffffff;
    text-decoration: none;
}
.footerDiv
{
    display: inline-block;
    float: left;
    margin-right: 50px;
}

.table
{
    position: relative;
    bottom: 180px;
}

.doneer, .contact
{
    padding-top: 160px;
    background-color: #eee;
    font-size: 22px;
    text-align: center;
}

.doneer table, #doneer, .contact table
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#doneer
{
    width: 30%;
    text-align: center;
    margin-left: 70%;
}

#doneer tr td
{
    border: 0;
}

.doneer table tr td:nth-child(2)
{
    border-bottom: 1px solid #a0a0a0;
}

.nBorder
{
    border: 0 !important;
}

.doneer table tr td:nth-child(1)
{
    width: 40%;
}

.doneer .text, .doneer .form
{
    padding-top: 50px;
}

.doneer .form
{
    padding-bottom: 50px;
}

.doneer form table input, .contact table input, .contact table textarea
{
    background-color: #eee;
    color: #969696;
    box-shadow: 0;
    border: 0;
    height: 40px;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    text-indent: 10px;
}

.contact table input, .contact table textarea
{
    background-color: #e6e6e6;
    border-radius: 90px;
}

.contact table textarea
{
    text-indent: 10px;
    padding-top: 13px;
    border-radius: 25px;
    height: 200px;
    resize: none;
}

.doneer form table button
{
    display: block;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 22px;
    background-color: #5337b2;
}

.contact table button
{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: fit-content;
    background-color: #5457A6;
}

[type=radio] {
    position: absolute;
    top: 200px;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
    height: 40px;
}

[type=radio]:checked + img {
    outline: 2px solid rgb(144, 154, 243);
}

.contact table td
{
    color:#686868;
    font-size: 13px;
}

.contact table [type=checkbox]
{
    height: auto;
    width: auto;
    margin: 0;
    opacity: 1;
    position: relative;
    top: auto;
    float: middle;
}

.contact table [type=checkbox]:nth-child(1)
{
    margin-left: 20%;
}

.contact table [type=checkbox]:nth-child(3)
{
    margin-left: 10%;
}

#nameError, #geldError, #mailError, #berichtError, #aanhefError, #telError
{
    text-align: center;
    color: red;
}

@media (max-width: 1375px)
{
    nav ul
    {
        font-size: 30px;
    }
    nav ul li
    {
        margin: 0 25px;
    }
    .logo
    {
        height: 50%;
        top: 24%;
    }
    .donateButton
    {
        padding: 13px 10px;
    }
}
@media (max-width: 1070px)
{
    nav ul li
    {
        background-color: #5457A6;
        width: 100%;
        display: block;
        margin: 0;
        text-align: center;
    }
    nav ul li a
    {
        width: 100%;
        display: block;
        padding: 45px 0;
    }
    nav ul
    {
        margin: 0;
        background-color: #5457A6;
    }
    .container
    {
        padding: 0;
    }
    nav
    {
        margin-top: 100px;
    }
    .donateButton
    {
        padding: 13px 30px;
        margin-bottom: 15px;
    }
    .hamburger
    {
        display: block;
    }
    .mainMenu
    {
        display: none;
    }
}
@media (max-width: 1150px)
{
    #doneer
    {
        position: relative;
        top: 800px;
        margin: auto;
    }

    .banner #linkOverImage
    {
        font-size: 16px;
    }

    .nieuws h3
    {
        font-size: 20px;
    }

    .box
    {
        font-size: 30px;
    }
}

@media (max-width: 772px){
    .banner #linkOverImage
    {
        font-size: 10px;
    }

    .nieuws .date
    {
        font-size: 12px;
    }

    .box
    {
        width: 90%;
        left: calc(50% - 45%);
    }

    .nieuws .newsText
    {
        font-size: 12px;
    }
}

@media (max-width: 453px){
    #doneer
    {
        top: 930px;
    }
}